*.user
*.ncb
*.suo
*.ipch
*.obj
*.log
*.cache
*.asm
_old_binaries/*
ipch/*
intermediate/*
intermediate_x64/*
Release/*
installer/output/3rdparties/*
src/SDK/*
src/packages/*
lib/*
lib_x64/*
binaries/*
libraries/*
*.ipch
*.pch
*.sdf
*.opensdf
*.tlog
*.opendb
*.db
